.main-chat

  .header-main
    .group-info
      .group-info__name
        group-name
      .group-info__member
        group-member
    = link_to "#", class: "edit-btn" do
      Edit

  .message-list
    .message
      .message__info
        .message__info__user-name
          user-name
        .message__info__date
          date
      .message__content
        content
    .message
      .message__info
        .message__info__user-name
          user-name
        .message__info__date
          date
      .message__content
        content

  %form.form
    .input-field
      %input{ type:"text", class:"input-field__text", placeholder:"input-field"}
      %label{ class:"input-field__image-icon"}
        = icon('far', 'image')
        %input{ type:"file", class:"input-field__image-icon__btn"}     
    %input{ type:"submit", class:"send-btn", value:"Send" }
    
