.side-bar

  .header-left
    .user-info
      .user-info__user-name
        username
      .user-info__icon
        .user-info__icon__edit-btn
          = link_to "#", class: "btn" do
            = icon('far', 'edit')
        .user-info__icon__setting-btn
          = link_to"#", class: "btn" do
            = icon('fas', 'cog')

  .group-list
    .group-list__group    
      .group-list__group__name
        group-name
      .group-list__group__message
        group-message